.hider-board {
    display: grid;
    gap: 2rem;
    grid-template-areas:
            "storage boxes"
            "footer footer";
    border: 1px solid #ccc;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 1fr;
    border-radius: 2rem;
    padding : 2% 3% ;
}

.storage {
    grid-area: storage;
    border: 1px solid #ccc;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
}

.storage.green{
    border: 1px solid green;
}

.hider:focus {
    transform: scale(1.1);
    transition: 0.2s ease-in transform;
    outline: none;
}
.seeker:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in transform;
    outline: none;
}

.box {
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    appearance: none;
}

.box-full{
    border : none;
    background-color: #ccc;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    appearance: none;
    color : #ed7d31;
}
.boxes{
    grid-area: boxes;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-left: 2rem;
}

.boxes-area{
    grid-area: boxes;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    justify-content: center;
}
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.footer{
    grid-area: footer;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer .buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.question-mark {
    min-height: 2rem;
}

.selected{
    border: 1px solid green;
    border-top: none;
}

.selected.question-mark::before{
    color: green;
}